.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-newsletter, .footer-contact {
    flex: 1;
  }
  
  .footer-newsletter h2, .footer-contact h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .newsletter-input {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .newsletter-input input {
    
    padding: 10px;
    border: none;
  }
  
  .newsletter-input button {
    padding: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .footer-contact p {
    margin: 5px 0;
  }
  
  .footer hr{
    border: 1px solid #444;
    margin: 20px 0;
  }
  .footer li{
    font-size: 12px;
  }
  .footer p{
    font-size: 12px;
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .social-icons i {
    margin-right: 10px;
  }
  
  .payment-icons img {
    height: 30px;
    margin-right: 10px;
  }
  
  .footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  